{% extends 'base.html.twig' %}

{% block title %}Fresher - Helpers{% endblock %}

{% block body %}
    {{ include('partials/_alert.html.twig')}}
    <h1>Helpers</h1>
    {{ include('partials/_helper_list.html.twig') }}
    <a href="{{ path('helper_new') }}">Add a helper</a>
{% endblock %}
