{% extends 'base.html.twig' %}

{% block title %}Fresher - Add Helper{% endblock %}

{% block body %}
    {{ include('partials/_alert.html.twig')}}
    <h1>Add Helper</h1>
    {{ form(form) }}
{% endblock %}
