{% extends 'base.html.twig' %}

{% block title %}Fresher - Dashboard{% endblock %}

{% block body %}
<div class="container">
    <h1>Dashboard</h1>
    <p>This will be where you can manage your over-arching themes</p>

</div>
{% endblock %}
