{% extends 'base.html.twig' %}

{% block title %}Test Area{% endblock %}

{% block body %}
    <h1>Admin Test Area</h1>
    <h2>Theme Reminder Email Preview</h2>
    <ul>
    {% for theme in themes %}
        <li><a href="{{ path('admin_testing_theme_reminder', {theme: theme.id}) }}">{{ theme.name }}</a></li>
    {% else %}
        <li>(No themes found)</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
