{% extends 'base.html.twig' %}

{% block title %}Too Many Users{% endblock %}

{% block body %}
    {{ include('partials/_alert.html.twig') }}
    <h1>Too Many Users</h1>
    <p>Sorry. There are already enough registered users.</p>
{% endblock %}
