{% if actions | length > 0 %}
    <ul class="action list">
    {% for action in actions %}
        <li>
            {{ action.description | linkify }}
            <a href="{{ path('action_edit', { 'theme': theme.id, 'goal': goal.id, 'action': action.id }) }}">[edit]</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{{ no_action_description ?? "(There are no actions yet.)" }}</p>
{% endif %}
