{% for goal in theme.goals %}
<div class="row">
    <div class="col goal">
        <h3><a href="{{ path('goal_show', { 'theme': theme.id, 'goal': goal.id }) }}">{{ goal.name }}</a></h3>
        <div class="description">
            {{ goal.description | striptags | markdown }}
        </div>
        <div class="actions">
            {{ include('partials/_action_list.html.twig', { 'actions': goal.actions, 'no_action_description': '(There are no actions for this goal yet)' }) }}
        </div>
        <hr/>
    </div>
</div>
{% else %}
<p>You haven't set any goals for this theme yet.</p>
{% endfor %}
