{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block body %}
<div class="container settings">
    {{ include('partials/_alert.html.twig') }}
    <h1>Fresher Site Settings</h1>
    At some point I'll be some kind of settings controller, honest, guv.
</div>
{% endblock %}
