{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block body %}
    {{ include('partials/_alert.html.twig') }}
    <h1>Fresher Site Settings</h1>
    {{ form(form) }}
{% endblock %}
