{% extends 'base.html.twig' %}

{% block title %}Fresher - New Theme SMS Reminder{% endblock %}
{% block body %}
    <h1>New Theme SMS Reminder</h1>
    <p>This reminder will send a brief textual reminder of your theme, including its name and current goals.</p>
    {{ form(form) }}
{% endblock %}
