{% extends 'base.html.twig' %}

{% block title %}Fresher - New Theme Email Reminder{% endblock %}

{% block body %}
    <h1>New Theme Email Reminder</h1>
    <p>This reminder will send a full, detailed reminder of your theme and its goals.</p>
    {{ form(form) }}
{% endblock %}
