{% extends 'base.html.twig' %}

{% block title %}Fresher - Theme Reminders{% endblock %}

{% block body %}
    {{ include('partials/_alert.html.twig') }}
    <h1>Reminders for Theme: <em>{{ theme.name }}</em></h1>
    {{ include('partials/_theme_reminder_list.html.twig') }}
    {{ include('partials/_add_reminder_links.html.twig') }}
{% endblock %}
