// https://bootswatch.com/help/
// Sketchy theme. Choose another here: https://bootswatch.com
@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.env-dev  {
    .navbar.bg-light {
        background-color: rgb(255, 131, 131) !important;
    }
}

label.required:before {
    content: "*";
}

div.bargraph {
    height: 10px;
    border: 1px solid grey;
    width: auto;

    div.bar {
        height: 100%;
        width: 0%;
        background-color: rgb(56, 175, 66);
        &.warm {
            background-color: rgb(226, 223, 36);
        }
        &.hot {
            background-color: rgb(175, 56, 56);
        }
    }
}

$future-past-goal-color: shade-color($body-color, 40%);
$future-past-goal-link-color: shade-color($link-color, 40%);

.goal-list {
    .goal {
        // &.current {
        // }
        &.future, &.past {
            color: $future-past-goal-color;

            a:link,
            a:visited,
            a:hover,
            a:active {
                color: $future-past-goal-link-color;
            }

        }
    }
}

.container {
    padding-bottom: 1rem;
}

/*
body {
    background-color: lightgray;
}

.container {
    background-color: antiquewhite;
    padding-bottom: 12px;
    padding-top: 20px;
}
*/
