{% extends 'base.html.twig' %}

{% block title %}Fresher Admin - Add Motivational Quote{% endblock %}

{% block body %}
    {{ include('partials/_alert.html.twig') }}
    <h1>Add New Motivational Quote</h1>
    {{ form(form) }}
{% endblock %}
